/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration:none;
	color:inherit;
}
* {
	box-sizing:border-box;
}
/*END CSS RESET*/

body, html {
  margin: 0;
  padding: 0;
  font-family:'Source Sans Pro', sans-serif;
  height:100%;
}
#root{
	height:100%;
}
#container{
	height:100%;
}
#intro-cont{
	position:relative;
	height:100%;
}
#intro{
	position:fixed;
	width:50%;
	height:100%;
	display:flex;
	align-items:center;
}
#intro-flex-left{
	position:absolute;
	right:52%;
}
#intro-flex-right{
	position:absolute;
	left:52%;
	width:180px;
}
#intro-name{
	font-family:'Open Sans', sans-serif;
	font-weight:700;
	font-size:80px;
	line-height:80px;
}
#about{
	margin-left:50%;
	height:100%;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	width:350px;
	font-size:16px;
	line-height:23px;
	font-family:'Roboto', sans-serif;
	font-weight:300;
}
.about-nav{
	color:#fafafa;
	font-weight:700;
	background-color:#0074D9;
	margin-right:7px;
	cursor:pointer;
	padding:5px;
	border-radius:3px;
	
	font-size:12px;
	font-family:'Roboto',sans-serif;
}
.about-nav:hover{
	background-color:#7FDBFF;
}
#projects{
	margin-left:50%;
}
.item-project{
	box-sizing:border-box;
  border-bottom-style:dotted;
  border-bottom-width:1px;
  border-bottom-color:#ccc;
  padding-left:20px;
  padding-bottom:10px;
  margin-bottom:80px;
  line-height:1.5;
  width:420px;
}
.item-image{
	width:350px;
}
.item-date{
	

}
.item-title{
	font-family:'Roboto', sans-serif;
	
	font-weight:700;
	font-size:28px;
}
.item-date span{
	font-family:'Roboto',sans-serif;
	/*background-color:#fdd835;*/
	font-weight:300;
	padding:3px 3px 5px 3px;
	font-size:11px;
	border-top-right-radius:3px;
}

@media screen and (max-width:400px){
	#intro, #about, #projects{
		width:90%;
		margin-left:5%;
		
	}
	#intro-cont{
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}
	#intro-flex-left{
		right:auto;
		position:relative;
		padding-right:4px;
	}
	#intro-flex-right{
		left:auto;
		position:relative;
		padding-left:4px;
	}
	#about{
		position:relative;
		height:auto;
	}
	#intro{
		position:relative;
		height:auto;
		margin-top:0px;

	}
	.item-image{
		width:100%;
	}
}